<br-book-form
  (create)="addBook($event)"
  (edit)="changeBook($event)"
  [book]="selectedBook"
></br-book-form>

<ng-container *ngFor="let b of books$ | async">

  <br-book
    (rateUp)="doRateUp($event)"
    (rateDown)="doRateDown($event)"
    [book]="b"></br-book>

  <button class="btn btn-primary mb-4" (click)="changeToEditMode(b)">Bearbeiten</button>

</ng-container>

<div *ngIf="(books$ | async)?.length === 0">
  Keine Bücher vorhanden
</div>

<h3 *ngIf="loading$ | async">Lade Bücher...</h3>

<button (click)="reload()" class="btn btn-primary">Reload</button>

<p>
  <strong>Anzahl Bücher:</strong> {{ (books$ | async)?.length }}
</p>
