<br-book-form
  (create)="addBook($event)"
  (edit)="changeBook($event)"
  [book]="selectedBook"
></br-book-form>

<ng-container *ngFor="let b of books$$()">

  <br-book
    (rateUp)="doRateUp($event)"
    (rateDown)="doRateDown($event)"
    [book]="b"></br-book>

  <button class="btn btn-primary mb-4" (click)="changeToEditMode(b)">Bearbeiten</button>

</ng-container>

<div *ngIf="books$$().length === 0">
  Keine Bücher vorhanden
</div>

<h3 *ngIf="loading$$()">Lade Bücher...</h3>

<hr>

<button (click)="reload()" class="btn btn-primary me-2">Reload</button>
<button (click)="bookFacade.startPolling()" class="btn btn-primary me-2">Start Polling</button>
<button (click)="bookFacade.stopPolling()" class="btn btn-primary me-2">Stop Polling</button>


<p>
  <strong>Anzahl Bücher:</strong> {{ books$$().length }}
</p>
